.scoreBoard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #c9c6bd;
    color: #6e1913;
    border-radius: 15px;
    gap: 1rem;
    width: 15rem;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.scoreBoardTitle {
    color: #6e1913;
    font-size: var(--fs-400);
}

.scoreBoardSection {
    display: flex;
    gap: 5rem
}
.icon {
    font-size: 3rem;
    /* margin-bottom: 10px; */
}
